@import 'ember-power-select';
@import 'ember-paper';
@import 'paper-data-table';

html {
  overflow-y: scroll;
}
.md-table {
  width: 90% !important;
  margin: 3% auto;
}


.application-editor {
  width: 80%;
  height: 80%;

  &_content {
    height: 100%;
  }


  &_policy {
    &List {
      position: absolute;
      top: 0;
      width: 45%;

      &--left {
        left: 0;
        display: inline-block;
      }
      &--right {
        right: 0;
        display: inline-block;
      }
    }
    &Lists {
      position: relative;
    }
  }
}



.policy-editor {
  width: 80%;
  height: 80%;

  &_selector {
    &Label {
      min-width: 10%;
    }

    &PowerSelector {
      width: 100%;
    }

  }
}
